html,
body {
    background: transparent !important;
}

.controller.ds4,
.controller.ds4.white,
.edit .controller.ds4,
.controller.edit {
    width: 806px !important;
    height: 598px !important;
    background: url("https://i.imgur.com/xnT1rSb.png") center center / 806px 598px no-repeat !important;
}

/* D-PAD trop à gauche/haut -> correction */
.ds4 .face {
    transform: translate(14px, 18px) !important;
}

/* BOUTONS droite trop haut/droite -> correction */
.ds4 .abxy {
    transform: translate(-18px, 28px) !important;
}

/* STICKS rouges trop bas -> correction */
.ds4 .sticks {
    transform: translate(0px, -38px) !important;
}

/* L2/R2 trop haut -> correction */
.ds4 .triggers {
    transform: translate(0px, 28px) !important;
}

/* SHARE / OPTIONS */
.ds4 .start,
.ds4 .back {
    transform: translate(0px, 18px) !important;
}

.ds4.disconnected,
.ds4.white.disconnected {
    background: url("https://i.imgur.com/xnT1rSb.png") center center / 806px 598px no-repeat !important;
}
